body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  font-weight: 600;
}

#progreso-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

#progreso-barra {
  flex: 1;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#progreso {
  height: 100%;
  width: 0%;
  background-color: #28a328;
  transition: width 0.6s ease-in-out;
}

#progreso-texto {
  min-width: 50px;
  font-weight: bold;
  text-align: right;
}

/* Media queries para responsive */
 /* Para iPad */

@media (min-width: 768px) and (max-width: 1023px) {
  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  #inicio h2,
  #pregunta h2,
  #ranking h2 {
    font-size: 1.25rem;
  }

  #inicio input,
  #inicio button,
  #volverInicio,
  #reiniciar {
    max-width: 400px;
    margin: 0 auto;
  }
}

/* Media query para verision Desktop */

@media (min-width: 1024px) {
  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1.2rem;
  }

  #inicio h2,
  #pregunta h2,
  #ranking h2 {
    font-size: 1.5rem;
  }

  #inicio input,
  #inicio button,
  #volverInicio,
  #reiniciar {
    max-width: 500px;
    margin: 0 auto;
  }

  main,
  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}